body{
    margin: auto;
    height: 100%;
    width: 100%;
    background-image: url(../rsc/background.jpg);
}

.center-block {
margin: 0 auto;
width: 950px;
background-color: rgb(131, 192, 216);
opacity: 0.7;
border-radius: 10px 10px 10px 10px;
    border-left: 2px solid #34011e;
    border-top: 2px solid #34011e;
    border-right: 2px solid #34011e;
    border-bottom: 2px solid #34011e;
    position: relative;
    height: 500px;
}

.input-style{
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px; 
    margin-bottom:20px;
    width:280px;
    margin-left: 50px;
    font-size: 15px;
}

.fields {    /* для выравнивания полей формы */
	clear:both; 
    text-align:right; 
    line-height:25px;
   /* padding-right: 50%;*/
}

label {
    float: left;
    padding-right:10px;
    padding-left: 20px;
}

.main {
    float: left;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 20%;
}

.color-button2{
    text-decoration: none;
     width: 150px;
     height: 40px; 
        text-align: center;
     background: rgb(128, 166, 182);
     border: 2px solid #34011e;
     border-radius: 15px 15px 15px 15px;
}

td{
	border: 1px dashed SandyBrown;
}

table{
	width: 50%;
	margin: auto;
}